.imagestyles {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  background-color: lightpink;
  margin: 10px;
  font-weight: bold;
  border-color: black;
  font-size: large;
}
